*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: black;
}

#header{
	padding: 1em 1em 1em 1em;
	background-color: white;
	border-bottom: 0.01em solid #CCC;
	display: flex;
	justify-content: space-evenly;
}

.searchBox{
	margin: 0 18.5%;
	align-self: center;
}

.searchBox form{
	display: flex;
}

.searchBox input{
	padding: 0.75em 3em 0.5em 0.75em;
	margin-left: 0;
	border: 0.01em solid #CCC;
}

.searchBox button{
	font-family: 'Roboto Condensed', sans-serif;
	border: 0.01em solid #CCC;
	border-left: 0;
	padding: 0.5em 0.75em;
}

::placeholder{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}

div.left a img{
	height: 1em;
	width: 1em;
	margin-right: 0.25em;
}

div.left{
	display: flex;
	align-items: center;
}

div.left a{
	display: flex;
	align-items: center;
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

div.right a{
	font-size: 1.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-family: 'Roboto Condensed', sans-serif;
	transition: border-bottom 0.1s;
}

div.right a:hover{
	border-bottom: 2px solid black;
}


div.right a img{
	height: 1em;
	width: 1em;
}

div.right{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container{
	padding-top: 1em;
	display: flex;
	font-family: 'Roboto Condensed', sans-serif;
}

.recent, .popular{
	padding: 0.5em;
	flex-grow: 1;
}

.popular{
	border-left: 0.01em solid #CCC;
}

.recentThreads, .popThreads{
	list-style-type: none;
}

.recent h2, .popular h2{
	border-bottom: 0.01em solid #CCC;
	padding: 0 0.5em 0.25em 0;
}

.recentThreads li a:hover, .popThreads li a:hover{
	text-decoration: underline;
}

.recentThreads li, .popThreads li{
	padding: 1em;
	background-color: #EEE;
}

.recentThreads li:nth-of-type(2n), .popThreads li:nth-of-type(2n){
	background-color: white;
}

.recentThreads li:first-child, .popThreads li:first-child{
	margin-top: 0.5em;
}