*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: black;
}

#header{
	padding: 1em 1em 1em 1em;
	background-color: white;
	border-bottom: 0.01em solid #CCC;
	display: flex;
	justify-content: space-evenly;
}

.searchBox{
	margin: 0 18.5%;
	align-self: center;
}

.searchBox form{
	display: flex;
}

.searchBox input{
	padding: 0.75em 3em 0.5em 0.75em;
	margin-left: 0;
	border: 0.01em solid #CCC;
}

.searchBox button{
	font-family: 'Roboto Condensed', sans-serif;
	border: 0.01em solid #CCC;
	border-left: 0;
	padding: 0.5em 0.75em;
}

::placeholder{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}

div.left a img{
	height: 1em;
	width: 1em;
	margin-right: 0.25em;
}

div.left{
	display: flex;
	align-items: center;
}

div.left a{
	display: flex;
	align-items: center;
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

div.right a{
	font-size: 1.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-family: 'Roboto Condensed', sans-serif;
	transition: border-bottom 0.1s;
}

div.right a:hover{
	border-bottom: 2px solid black;
}


div.right a img{
	height: 1em;
	width: 1em;
}

div.right{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container{
	padding: 2em 1em;
	font-family: 'Roboto Condensed', sans-serif;
}

.container h1{
	margin-bottom: 1.5em;
	border-bottom: 0.01em solid #CCC;
}

.ogPost a, .post a{
	color: blue;
}

.postContent{
	border: 0.01em solid #CCC;
	padding: 1em;
	margin: 1em;
}

.addPost{
	padding: 0.5em;
	margin-top: 3em;
	border: 0.01em solid #CCC;
}

.addPost:hover{
	background-color: #BBB;
}

#newPostCont{
	display: block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	padding: 0.75em;
}

.postBtns{
	display: flex;
	justify-content: flex-start;
}

.postBtns button{
	margin: 0.5em 0.5em 0.5em 0;
	font-family: 'Roboto Condensed';
	padding: 0.5em;
	font-size: 1em;
	border: 0.01em solid #CCC;
	background-color: white;
}

#newPost{
	display: none;
	margin: 1em;
	font-family: 'Roboto Condensed', sans-serif;
}