*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: black;
}

body{
	background-color: #EEE;
}

#header{
	padding: 1em 1em 1em 1em;
	background-color: white;
	display: flex;
	justify-content: space-evenly;
}

.searchBox{
	justify-self: center;
	align-self: center;
}

.searchBox form{
	display: flex;
}

.searchBox input{
	padding: 0.75em 3em 0.5em 0.75em;
	margin-left: 0;
	border: 0.01em solid #CCC;
}

.searchBox button{
	font-family: 'Roboto Condensed', sans-serif;
	border: 0.01em solid #CCC;
	border-left: 0;
	padding: 0.5em 0.75em;
}

::placeholder{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}

div.left a img{
	height: 1em;
	width: 1em;
	margin-right: 0.25em;
}

div.left{
	justify-self: flex-start;
	display: flex;
	align-items: center;
}

div.left a{
	display: flex;
	align-items: center;
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

div.right a{
	font-size: 1.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-family: 'Roboto Condensed', sans-serif;
	transition: border-bottom 0.1s;
}

div.right a:hover{
	border-bottom: 2px solid black;
}

div.right a img{
	height: 1em;
	width: 1em;
}

div.right{
	display: flex;
	justify-self: flex-end;
	justify-content: space-around;
	align-items: center;
}

.container{
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	background-color: white;
	padding: 1em;
	margin: 1.5em 5em;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.leftPane{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 0.01em solid #CCC;
	padding: 2em;
}

.profileImg{
	width: 256px;
	height: 256px;
	clip-path: circle(128px at center);
}

.username{
	font-weight: 900;
	margin: 1em 0;
	font-size: 1.5em;
}

.recentPost{
	margin: 5em 0;
	border-top: 0.01em solid #CCC;
	border-bottom: 0.01em solid #CCC;
	padding: 1em 4em;
}

.recentPost:hover{
	color: #1AA7EC;
}

.rightPane{
	padding: 1em;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.rightPane h1{
	border-bottom: 0.01em solid #CCC;
}

.aboutMe{
	margin: 1em 0;
}

.isOnline{
	display: flex;
	color: green;
	align-items: center;
}

.dot{
	margin-right: 0.25em;
	font-size: 1.5em;
}

.editProf{
	justify-self: flex-end;
}

.editProf button{
	padding: 0.5em;
	border: 0.01em solid #CCC;
	background-color: white;
	font-family: 'Roboto Condensed';
	font-size: 1em;
	transition: background-color 0.2s;
	cursor: pointer;
}

.editProf button:hover{
	background-color: #EEE;
}